/* General Styles */
:root {
   --main-color: #848a90;
   --border-color: rgba(0,0,0,.15);
   --active-bg-color: rgba(0,0,0,.1);
   --primary-color: #1976d2;
   --nav-font: .850rem;
 }

div.ml-auto{
   margin-left: auto;
}

hr{
   border-color: var(--border-color);
   margin: 0;
}

ul.list{
   list-style: none;
   padding: 0;
   margin: 0;
   width: 100%;
}

span.fontBold{
   font-weight: bold;
}

/* Nav Styles */

.navContainer .content{
   margin-left: 60px;
   padding: 10px;
   transition: margin-left .3s ease-in-out;
}
@media (min-width: 600px) {
   
   .navContainer.layoutFixed .content {
      margin-left: 230px;
      transition: margin-left .3s ease-in-out;
   }
}

/* Topbar */
.navContainer .topbar{
   background-color: white;
   margin-left: 60px;
   padding: 0 .5rem;
   z-index: 999;
   border-bottom: 1px solid var(--border-color);
   display: flex;
   flex-flow: row nowrap;
   height: 54px;
   transition: margin-left .3s ease-in-out;
}

.navContainer.layoutFixed .topbar{
   margin-left: 230px;
   transition: margin-left .3s ease-in-out;
}

.topbar .iconContainer{
   display: flex;
   align-items: center;
}

.menuBtn {
   color: #B2BAC2;
   background-color: transparent;
   border: none;
   cursor: pointer;
   padding: .5rem;
}

.menuBtn:hover {
   color: #1f2123;
}

.dropdownMenu {
   font-size: var(--nav-font);
   display: none;
   position: absolute;
   background-color: white;
   padding: 0;
   max-width: 300px;
   min-width: 230px;
   z-index: 1000;
   border: 1px solid var(--border-color);
   border-radius: 5px;
   box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 18%);
   top: 50px;
}

.show{
   display: block;
}

.dropdownMenuRight{
   right: .3rem;
   left: auto
}

.dropdownMenu a.dropdownItem{
   padding: .5rem 1rem;
   white-space: nowrap;
   text-decoration: none;
   color: #1f2123;
   display: block;
}

.dropdownMenu a.dropdownItem:hover{
   background-color: #f8f9fa;
}

/* Sidenav */

.sidenav, .sidenavClosed {
   z-index: 999;
   background-color: white;
   position: fixed;
   transition: width .3s ease-in-out;
   height: 100vh;
   background-color: rgba(234, 243, 234, 0.122);
   box-shadow: 0 14px 28px rgba(2, 95, 25, 0.25), 0px 10px 10px rgba(0,0,0,.22);
}

.sidenav {
   width: 230px;
}

.sidenavClosed {
   width: 60px;
}

.sidenavClosed:hover{
   width: 230px;
}

.sidenavContainer {
   padding: 0px 0;
   background-color: white;
   overflow: hidden;
}

.brandLink {
   border-bottom: 1px solid var(--border-color);
   color: black;
   text-decoration: none;
   display: flex;
   height: 54px;
   justify-content: center;
   align-items: center;
}

.brandText{
   display: block;
   color: rgba(0,0,0,.6);
   font-size: 1.05rem;
   font-weight: 300;
   line-height: 18px;
   margin-left: .4rem;
   transition: margin-left .3s linear,opacity .3s ease,visibility .2s ease;
}

@-webkit-keyframes fadeIn{
   from { opacity:0 }
   to { opacity:1 }
}
@keyframes fadeIn{
   from { opacity:0 }
   to { opacity:1 }
}
@-webkit-keyframes fadeOut{
   from { opacity:1 }
   to { opacity:0 }
}
@keyframes fadeOut{
   from { opacity:1 }
   to { opacity:0 }
}

.brandLink > .brandLogoXS {   
   position: absolute;
   left: 10px;
   max-width: 40px;
   animation-name: fadeIn;
   animation-duration: .3s;
}

.brandLink > .brandLogoXL {   
   max-height: 40px;
   animation-name: fadeOut;
   animation-duration: .3s;
}

.sidenav .brandLink > .brandLogoXS {   
   visibility: hidden;
}

.sidenavClosed .brandLink > .brandLogoXS {
   position: absolute;
   left: 10px;
   max-width: 40px;
}

.sidenavClosed .brandLink > .brandLogoXL {
   visibility: hidden;
}

.sidenavClosed .brandLink > .brandText {
   visibility: hidden;
   margin-left: -10px;
   
}

/* SidebarNavigation Styles  */

ul.sidebarMenu{
   margin: .3em 0;
}

li.sideItem {
   font-size: var(--nav-font);
   font-weight: 400;
}

li.sideItem.menuOpen {
   background-color: #244f7d1c;
}

li.sideItem.menuOpen .menuText {
   color: rgb(63, 63, 63);
}

ul.navSubmenu{
   max-height: 0;
   transition: max-height .3s, visibility .3s, padding-left .2s ease-in-out;
   visibility: hidden;
   overflow: hidden;
   background-color: rgb(245, 244, 244);
}

li.menuOpen ul.navSubmenu {
   max-height: 500px;
   transition: max-height .5s ease-in-out;
   visibility: visible;
}

ul.navSubmenu li.sideItem a.navLink{
   border-left: #c5cbc3 4px solid;
   font-size: .815rem;
}

ul.navSubmenu li.sideItem a.navLink.active{
   border-left: #007bff 4px solid;
}

.sidenav ul.navSubmenu .sideItem{
   margin-left: .8rem;
   transition: margin-left .3s ease-in-out;
}
.sidenavClosed ul.navSubmenu .sideItem{
   margin-left: 0;
   transition: margin-left .3s ease-in-out;
}

a.navLink, span.navLink {
   display: flex;
   align-items: center;
   color: var(--main-color);
   text-decoration: none;
   cursor: pointer;
   padding: .3rem 1rem .2rem;
   white-space: nowrap;
}

.navLink.active{
   color: rgb(0, 0, 0);
   background-color: var(--active-bg-color);
   border-left: #007bff 4px solid;
}

.navLink:hover {
   background-color: #414d5b1c;
   color: rgb(63, 63, 63);
}

.sidenav .linkText {
   padding-left: 14px;
   transition: margin-left .3s linear,opacity .3s ease,visibility .3s ease;
}

.sidenavClosed .linkText {
   padding-left: 14px;
   margin-left: -10px;
   opacity: 0.5;
   transition: margin-left .2s linear,opacity .2s ease,visibility .2s ease;
   visibility: hidden;
   /* display: none; */
}

